body{
    width: 920px;
    margin: 0 auto;
}
#logo{
    float: left;
    margin-bottom: 30px;
}
#header{
    margin-top: 15px;
}
#header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right: 20px;
}
#header li{
    display: inline;
}
#conteudo h1{
    clear: both;
}
#capa{
    margin-top: 10px;
}
label, input{
    display: block;
}
#footer{
    text-align: center;
    font-weight: bolder;
}